<h1> Links </h1>

<ul id="links">
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
    </li>
  <% end %>
</ul>

<form action='/tags'>
  <input type='text' name='name'>
  <input type='submit' value='Filter'>
</form>
