<form action='/links' method='post'>
  Title: <input type='text' name='title' required>
  URL: <input type='text' name='url' required>
  Tag: <input type='text' name='tag'>
  <input type='submit' value='Create link'>
</form>
